<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mon site avec Flask</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div class="presentation">
      <h1>Bienvenue chez moi !</h1>
      <h2>Ma tête</h2>
      <img src="static/img/chewie.jpg " alt="chewie" width="200px" height="200px">
      <h2>Ma vie</h2>
        <p>
          <span>Né à Montevidéo en 1814, j'ai gravi une à une les étapes pour devenir :</span>
          <ol>
            <li>président des états unis,</li>
            <li>pro gamer,</li>
            <li>influenceur,</li>
            <li>avant centre du Réal Madrid !</li>
          </ol>
          <span>Qui peut en dire autant ?</span>
        </p>
      <h2>Mon oeuvre</h2>
        <p>Découvrez mon <a href="super_jeu">super jeu</a>, crée en P5JS</p>
    </div>
  </body>
</html>
